{
  "tabWidth": 2,
  "printWidth": 100,
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "singleQuote": true,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.tsx", "*.ts"],
      "options": {
        "semi": false
      }
    }
  ]
}
